@import '../GlobalVariables.scss';

.anchorNav__container {
	position: fixed;
	font-family: 'Bruta Pro Extended', sans-serif;
	left: 40px;
	bottom: 0;
	z-index: 1;

	ul {
		margin-inline-start: 0;
		margin-block-start: 0;

		.anchorNav__buttons__container {
			list-style: none;

			a {
				text-transform: uppercase;
				color: transparent;
				font-weight: 900;
				-webkit-text-stroke-width: 0.07vw;
				font-size: 3.2vw;
				line-height: 0.8;
				transition:
					-webkit-text-stroke-color ease 0.3s,
					color ease 0.3s,
					font-size 0.5s ease-in-out;

				&:hover,
				&.destacado {
					color: $secondary !important;
					-webkit-text-stroke: 0 $bg_black;
				}
				&.destacado {
					font-size: 5vw;
				}
			}
		}
	}
}
