@import '../GlobalVariables.scss';

.carrusel__container {
	.profile-container {
		&.estado1 {
			filter: blur(0px);
		}
		&.estado2 {
			filter: blur(2px);
		}
		&.estado3 {
			filter: blur(3px);
		}
		&:hover {
			filter: blur(0px);
			transition: filter 0 ease-out;
		}
		transition: filter 0.3s ease-out;
	}
}

$nextButtonSize: 40px;
.nextButton {
	width: $nextButtonSize;
	height: $nextButtonSize;
	display: flex; // Esto y las siguientes dos líneas aseguran que el contenido se centre
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: opacity 0.25s ease;
}
.nextButton.disabled {
	pointer-events: none; /* Esto previene clics y otras interacciones */
	cursor: default; /* Esto establece el cursor a la forma predeterminada */
	/* Aquí puedes añadir estilos adicionales para cuando el botón esté deshabilitado */
	opacity: 0.2; /* Ejemplo para cambiar la opacidad del botón deshabilitado */
}
.circle.disable {
	pointer-events: none;
	cursor: default;
}

@media screen and (max-width: 768px) {
	.nextButton {
		width: 30px;
		height: 30px;
	}
}