a {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
}

.button-container {
	margin: 5px 10px;
	opacity: 65%;

	&:hover {
		opacity: 100%;
	}
}

.selected {
	a {
		font-weight: 900;
	}
	opacity: 100%;
	pointer-events: none;
}
