a {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
}

.button-container {
	margin: 5px 10px;
	opacity: 65%;
	transition: all 150ms ease-in-out;

	&:hover {
		opacity: 100%;
	}
}

.selected {
	a {
		font-weight: 900;
		transition: all 0.2s ease-in-out;
	}
	opacity: 100%;
	pointer-events: none;
}
