---
import { Image } from 'astro:assets';
import type { UserRecord } from 'firebase-admin/auth';
interface Props {
	userRecord: UserRecord;
}

const { userRecord } = Astro.props;

const profilePicture =
	userRecord?.photoURL ??
	userRecord?.providerData[0].photoURL ??
	'https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y';
---

<nav class="h-[80px] w-full fixed top-0 left-0 z-10 my-4">
	<div
		class="m-auto w-3/5 h-full flex items-center justify-between p-8 bg-edgewater-950 bg-opacity-50 backdrop-blur-sm rounded-md"
	>
		<h1 class="title-gradient">Admin Panel</h1>
		<div class="flex justify-center items-center gap-4">
			<p class="opacity-60">Welcome <b>{userRecord?.displayName}</b></p>
			<div class="relative">
				<button type="button" id="dropdownButton">
					<picture class="flex items-center">
						<Image
							class="rounded-full cursor-pointer"
							src={profilePicture}
							alt="user_profilePicture"
							width={50}
							height={50}
							transition:name="profilePicture"
							transition:persist
						/>
						<svg
							class="h-5 w-5 transition-all ease-in-out duration-300"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
								clip-rule="evenodd"></path>
						</svg>
					</picture>
				</button>

				<!-- Opciones del dropdown -->
				<div
					id="dropdown"
					class="h-0 opacity-0 overflow-hidden origin-top-right absolute right-0 w-32 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-0 focus:outline-none transition-all ease-in-out duration-300"
					role="menu"
					aria-orientation="vertical"
					aria-labelledby="dropdownButton"
				>
					<div class="py-1 h-full flex flex-col items-center justify-center" role="none">
						<!-- Opciones -->
						<a
							href="#"
							class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-200 transition-all w-full"
							role="menuitem">Editar foto</a
						>
						<a
							href="#"
							class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-200 transition-all w-full"
							role="menuitem">Ajustes</a
						>
						<a
							href="/api/auth/signout"
							class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-200 transition-all w-full"
							role="menuitem">Cerrar Sesión</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
<script>
	document.addEventListener('astro:page-load', () => {
		const dropdownButton = document.querySelector('#dropdownButton');
		const dropdown = document.querySelector('#dropdown');

		dropdownButton?.addEventListener('click', () => {
			// Toggle dropdown height using tailwind classes from 0 to auto and opacity from 0 to 100
			dropdown?.classList.toggle('h-0');
			dropdown?.classList.toggle('h-32');
			dropdown?.classList.toggle('opacity-0');
			dropdown?.classList.toggle('opacity-100');

			// Rotate dropdown button svg
			dropdownButton?.querySelector('svg')?.classList.toggle('rotate-180');
		});
	});
</script>

<style>
	.title-gradient {
		font-weight: bold;
		font-size: 3rem;
		background: linear-gradient(to right, #44887d, #112221);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
