{
	"plugins": ["prettier-plugin-astro"],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	],
	"tabWidth": 2,
	"printWidth": 120,
	"useTabs": true,
	"singleQuote": true,
	"endOfLine": "auto"
}
