---
import AddProviderButton from '@components/ciddt-admin/AddProviderButton';
import AdminPanelLayout from 'src/layouts/AdminPanelLayout.astro';

/* Check current session */
if (!Astro.cookies.has('session')) {
	return Astro.redirect('/ciddt-admin/login');
}
---

<AdminPanelLayout title="Dashboard">
	{/* Integraciones */}
	<div>
		<h1 class="font-bold text-4xl w-full">Integraciones</h1>
		<p class="mt-2 w-full min-h-[50px]">Agrega las integraciones de las redes sociales que desees</p>
	</div>
	<div class="mt-8 grid grid-cols-3 gap-4">
		<div class="bg-edgewater-800 rounded-md p-4">
			<h2 class="font-bold text-2xl flex items-center justify-center my-4">Meta</h2>
			<p class="mt-4 text-center w-full min-h-[50px]">Agrega las publicaciones y Reels de Facebook e Instragram</p>
			<div class="w-full flex items-center justify-center my-4">
				<AddProviderButton provider="facebook" client:only />
			</div>
		</div>
		<div class="bg-edgewater-800 rounded-md p-4">
			<h2 class="font-bold text-2xl flex items-center justify-center my-4">Twitter</h2>
			<p class="mt-4 text-center w-full min-h-[50px]">Agrega las publicaciones, hilos y videos de X</p>
			<div class="w-full flex items-center justify-center my-4">
				<AddProviderButton provider="twitter" client:only />
			</div>
		</div>
		<div class="bg-edgewater-800 rounded-md p-4">
			<h2 class="font-bold text-2xl flex items-center justify-center my-4">TikTok</h2>
			<p class="mt-4 text-center w-full min-h-[50px]">Agrega los videos y demás contenido de TikTok</p>
			<div class="w-full flex items-center justify-center my-4">
				<AddProviderButton provider="tiktok" client:only />
			</div>
		</div>
	</div>
</AdminPanelLayout>
