@import '../GlobalVariables.scss';

.header__container {
	width: 100%;
	position: relative; // Esto permite que el logo se posicione en relación con este contenedor

	.bg__container {
		/* background-image: url('/2x/bg.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center; */
		background-color: $primary;
		width: 100%;
		height: 100vh;
		position: absolute;
		z-index: 2;
	}

	.bg__container__logo {
		position: absolute; // Posiciona el logo sobre la imagen de fondo
		width: 100%;
		height: 100%;
		top: 0; // Centra el logo verticalmente
		left: 0; // Centra el logo horizontalmente
		display: flex;
		align-items: center;
		justify-content: center;
		.logo {
			width: 40vw;
		}
		z-index: 3;
	}

	.invisible-filler {
		height: 70vh;
	}

	.bottom__section__container {
		width: 90%;
		height: 30vh;
		display: flex;
		margin: auto;
		.left,
		.right {
			width: 50%;
			height: 80%;
			margin: auto;
		}
		.leyenda {
			color: $text;
			opacity: 0.8;
			font-size: 20px;
			max-width: 50%;
		}
		.right{
			padding-top: 20px;
		}
	}
}
@media screen and (max-width: 768px) {
	.header__container {
		.bg__container {
			height: 50vh;
		}

		.bg__container__logo {
			height: 50vh;
			.logo {
				width: 50vw;
			}
		}

		.bottom__section__container {
			height: 30vh;
			flex-direction: column-reverse;
			.left,
			.right {
				width: 90%;
				margin: auto;
			}
			.left {
				display: none;
			}
			.leyenda {
				text-align: center;
				font-size: 1rem;
				max-width: 90%;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.header__container {
		.bg__container__logo {
			height: 50vh;
			padding-top: 5vh;
			.logo {
				width: 70vw;
			}
		}
	}
}
