@import '../GlobalVariables.scss';

.nosotros__container {
	height: 100vh;
	width: 100%;
	background-color: $bg_white;
	display: flex;
	flex-direction: row;
	padding: 0 40px 0 40px;
	margin-top: 50px;
	.divisor1 {
		//texto
		width: 25%;
		padding-right: 20px;
		.text__container {
			margin-top: 150px;
			font-size: 2.5rem;
			font-weight: 700;
			line-height: 1;
			color: $text;
		}
	}
	.divisor2 {
		//imagen
		width: 25%;
		height: auto;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		filter: blur(5px);
		transition: all 0.5s ease;
		opacity: 0.5;
		&:hover {
			filter: blur(0);
			transform: scale(1.05);
			opacity: 1;
		}
		.img__container {
			width: 100%;
			height: 90%;
			.image {
				border-radius: 5%;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.divisor3 {
		//frases
		width: 50%;
		height: 90%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin: auto;
		position: relative;
		.text__container {
			margin: auto;
			width: 100%;
			h1 {
				margin: 0;
				text-align: right;
				font-family: 'Bruta Pro Extended';
				font-weight: 900;
				font-size: clamp(2rem, 4vw, 10rem) !important; // Valor máximo aumentado para pruebas
				line-height: 1.1;
				color: $text;
				opacity: 0.1;
				-webkit-user-select: none;
				user-select: none;
				transition: all 0.5s ease;
				&:hover {
					opacity: 1;
				}
			}
			margin-bottom: 0;
		}
		.text__container__arriba {
			position: absolute;
			margin: auto;
			top: 130px;
			left: -10%;
			width: 100%;
			max-width: 800px;
			p {
				font-size: 20px;
				font-weight: 400;
				color: $bg_white;
				mix-blend-mode: difference;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.nosotros__container {
		flex-direction: column;
		height: auto;
		.divisor1 {
			width: 100%;
			.text__container {
				margin-top: 50px;
				font-size: 2rem;
			}
		}
		.divisor2 {
			margin-top: 50px;
			width: 100%;
			height: 50vh;
			.img__container {
				height: 100%;
				.image {
					border-radius: 5%;
					width: 100%;
					height: 100%;
					object-fit: cover;
					filter: contrast(0.7) saturate(1.2);
				}
			}
		}
		.divisor3 {
			width: 100%;
			.text__container {
				display: none;
			}
			.text__container__arriba {
				text-align: right;
				position: initial;
				margin: 50px 0;
			}
		}
	}
}

@media screen and (max-width: 480px) {
}
