---
import '@styles/pages/Equipo.scss';

import NavigationButtons from '@components/buttons/CirclesNav';
import Carrousel from '@components/ProfilesCarrousel';
---

<>
	<div class="equipo__container">
		<div class="divisor1">
			<div class="text__container">
				<p>Con experiencia y empatía, defendemos cada empleo.</p>
			</div>
			<NavigationButtons client:only />
		</div>
		<div class="divisor2">
			<Carrousel client:only />
		</div>
	</div>
</>
