---
import '@styles/pages/Nosotros.scss';

import Imagen from '@public/2x/nosotros.webp';
import { Image } from 'astro:assets';
---

<section>
	<div class="nosotros__container">
		<div class="divisor1">
			<div class="text__container">
				<p data-scroll data-scroll-speed="0.1">Defendemos tus derechos laborales en cada desafío presente</p>
			</div>
		</div>
		<div class="divisor2">
			<div class="img__container select-none">
				<Image class="image" src={Imagen} alt="Nosotros" />
			</div>
		</div>
		<div class="divisor3">
			<div class="text__container__arriba">
				<p data-scroll data-scroll-speed="0.3">
					Laboralistas es un estudio jurídico especializado en la defensa de los derechos laborales y
					sindicales. Su equipo está conformado por profesionales de alto nivel con amplia experiencia en el
					litigio nacional e internacional en materia de derecho laboral y constitucional, que están
					comprometidos con la justicia social y la promoción del trabajo digno en Ecuador. <br />
					<br />El equipo de Laboralistas ofrece servicios de defensa jurídica en procesos administrativos y
					judiciales, dicta capacitaciones en materia laboral y brinda acompañamiento permanente a las
					organizaciones sindicales.
				</p>
			</div>
			<div class="text__container" data-scroll data-scroll-speed="-0.1">
				<h1>Comunidad.</h1>
				<h1>Trabajo.</h1>
				<h1>Conciencia.</h1>
			</div>
		</div>
	</div>
</section>

<script type="module">
	// Función para ajustar el tamaño de la fuente de '.divisor3 .text__container h1'
	function adjustFontSize() {
		const container = document.getElementById('main-container');
		if (container) {
			// Calcula 5vw en relación al ancho completo de la ventana, no del contenedor
			const initialFontSize = window.innerWidth * 0.05;
			// Obtén el ancho actual del contenedor
			const containerWidth = container.offsetWidth;
			// Ajusta el tamaño de fuente en relación al ancho del contenedor
			const fontSize = (initialFontSize / window.innerWidth) * containerWidth;
			// Aplica el tamaño de fuente a cada h1
			const h1s = container.querySelectorAll('.divisor3 .text__container h1');
			h1s.forEach((h1) => {
				// @ts-ignore
				h1.style.fontSize = `${fontSize}px`;
			});
		}
	}

	// Detectar cuando el tamaño de 'main-container' cambia usando ResizeObserver si está disponible
	if ('ResizeObserver' in window) {
		const ro = new ResizeObserver((entries) => {
			for (let entry of entries) {
				adjustFontSize();
			}
		});
		const container = document.getElementById('main-container');
		if (container) {
			ro.observe(container);
		}
	} else {
		// Fallback para navegadores que no soportan ResizeObserver
		// @ts-ignore
		window.addEventListener('resize', adjustFontSize);
	}

	// Asegurarte de ejecutar la función al cargar la página
	document.addEventListener('DOMContentLoaded', () => {
		adjustFontSize();
	});
</script>
