---
// hoja de estilos
import '../../styles/pages/Header.scss';

import { Image } from 'astro:assets';

import Logo from '../../../public/svg/logo_text_blanco.svg';
import AnchorNav from '../../components/AnchorNav';
---

<header>
	<div class="header__container">
		<div class="bg__container"></div>
		<!-- Solo la imagen de fondo aquí -->
		<div class="bg__container__logo">
			<Image class="logo" src={Logo} alt="Logo" />
		</div>
		<div class="invisible-filler"></div>
		<div class="bottom__section__container">
			<div class="anchors left">
				<AnchorNav client:only />
			</div>
			<div class="leyenda right">
				<p>
					El Centro de Investigación y Defensa del Derecho al Trabajo (CIDDT) es una organización que busca
					promover y defender el derecho al trabajo, a través de la formación, investigación, litigio
					estratégico y acompañamiento a organizaciones sindicales y personas trabajadoras.
				</p>
			</div>
		</div>
	</div>
	<script>
		import { gsap } from 'gsap';
		import Springer from 'springer';
		const spring = Springer(0.2, 0.8);
		gsap.to('.bg__container, .bg__container__logo', {
			delay: 1,
			height: '70%',
			duration: 2,
			ease: spring,
		});
		gsap.to('.bg__container', {
			duration: 2,
			borderBottomLeftRadius: '30px',
			borderBottomRightRadius: '30px',
			delay: 2,
		});
		gsap.from('.leyenda.right', {
			xPercent: 150,
			ease: 'easeInOut',
			duration: 1,
			delay: 1,
		});
	</script>
</header>
