---
import Navbar from '../components/Navbar';
import Equipo from './Hero/Equipo.astro';
import Header from './Hero/Header.astro';
import Momentos from './Hero/Momentos.astro';
import Nosotros from './Hero/Nosotros.astro';
---

<>
	<Navbar client:only />
	<main>
		<div id="main-container">
			<section id="header" class="section-container blanco">
				<Header />
			</section>
			<section id="nosotros" class="section-container blanco">
				<Nosotros />
			</section>
			<section id="equipo" class="section-container negro">
				<Equipo />
			</section>
			<section id="momentos" class="section-container blanco">
				<Momentos />
			</section>
		</div>
	</main>
</>
