---
import '@styles/pages/Equipo.scss';

import NavigationButtons from '@components/buttons/CirclesNav';
import Carrousel from '@components/ProfilesCarrousel';
// Import your profiles data
import profilesData from '@public/data/profiles/profiles.json';
---

<>
	<div class="equipo__container">
		<div class="divisor1">
			<div class="text__container">
				<p>Con experiencia y empatía, defendemos cada empleo.</p>
			</div>
			<NavigationButtons Data={profilesData} client:only />
		</div>
		<div class="divisor2">
			<Carrousel profilesData={profilesData} client:visible />
		</div>
	</div>
</>
