---
import '../styles/GlobalStyles.astro';

import Navbar from '../components/Navbar';
import Equipo from '../layouts/Equipo.astro';
import Header from '../layouts/Header.astro';
import Nosotros from '../layouts/Nosotros.astro';
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CIDDT</title>
	</head>
	<body>
		<Navbar client:only />
		<main>
			<div id="main-container">
				<section id="header" class="section-container blanco">
					<Header />
				</section>
				<section id="nosotros" class="section-container blanco">
					<Nosotros />
				</section>
				<section id="equipo" class="section-container negro">
					<Equipo />
				</section>
			</div>
		</main>
	</body>
	<style lang="scss">
		body {
			background-color: #f8f8f8;
		}
	</style>
</html>
