---
import '../styles/GlobalStyles.astro';

import Navbar from '../components/Navbar';
import Header from '../layouts/Header.astro';
import Nosotros from '../layouts/Nosotros.astro';
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CIDDT</title>
	</head>
	<body>
		<Navbar client:only />
		<Header />
		<main>
			<section>
				<Nosotros />
			</section>
		</main>
	</body>
	<style lang="scss">
		body {
			background-color: #f8f8f8;
		}
	</style>
</html>
