@font-face {
	font-family: 'Bruta Pro Extended';
	src:
		url('BrutaProExtended-Black.woff2') format('woff2'),
		url('BrutaProExtended-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bruta Pro Extended';
	src:
		url('BrutaProExtended-BlackItalic.woff2') format('woff2'),
		url('BrutaProExtended-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Bruta Pro Extended Expanded';
	src:
		url('BrutaProExtended-Bold.woff2') format('woff2'),
		url('BrutaProExtended-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bruta Pro Extended Expanded';
	src:
		url('BrutaProExtended-BoldItalic.woff2') format('woff2'),
		url('BrutaProExtended-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Bruta Pro Extended Ex Bold It';
	src:
		url('BrutaProExtended-ExtraBoldItalic.woff2') format('woff2'),
		url('BrutaProExtended-ExtraBoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Bruta Pro Extended Extra';
	src:
		url('BrutaProExtended-ExtraBold.woff2') format('woff2'),
		url('BrutaProExtended-ExtraBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bruta Pro Extended Extra';
	src:
		url('BrutaProExtended-ExtraLight.woff2') format('woff2'),
		url('BrutaProExtended-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bruta Pro Extended Ex Light It';
	src:
		url('BrutaProExtended-ExtraLightItalic.woff2') format('woff2'),
		url('BrutaProExtended-ExtraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Bruta Pro Extended';
	src:
		url('BrutaProExtended-Light.woff2') format('woff2'),
		url('BrutaProExtended-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bruta Pro Extended';
	src:
		url('BrutaProExtended-LightItalic.woff2') format('woff2'),
		url('BrutaProExtended-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Bruta Pro Extended';
	src:
		url('BrutaProExtended-Regular.woff2') format('woff2'),
		url('BrutaProExtended-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bruta Pro Extended Expanded';
	src:
		url('BrutaProExtended-RegularItalic.woff2') format('woff2'),
		url('BrutaProExtended-RegularItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Bruta Pro Extended Semi';
	src:
		url('BrutaProExtended-SemiBold.woff2') format('woff2'),
		url('BrutaProExtended-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bruta Pro Extended Sm Bold It';
	src:
		url('BrutaProExtended-SemiBoldItalic.woff2') format('woff2'),
		url('BrutaProExtended-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Bruta Pro Extended';
	src:
		url('BrutaProExtended-Thin.woff2') format('woff2'),
		url('BrutaProExtended-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bruta Pro Extended';
	src:
		url('BrutaProExtended-ThinItalic.woff2') format('woff2'),
		url('BrutaProExtended-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}
