---
import '../../input.css';

import logo from '@public/svg/isotipo_blanco.svg';
import Image from 'astro/components/Image.astro';

import { LoginComponent } from '../../components/LoginComponent';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
		<title>CIDDT | Admin</title>
	</head>
	<body class="bg-dark">
		<div class="flex min-h-full flex-col justify-center px-6 py-16 lg:px-8 text-center">
			<div class="sm:mx-auto sm:w-full sm:max-w-sm">
				<Image class="mx-auto h-10 w-auto" src={logo} alt="ciddt-web" />
				<h2 class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-white">Admin Panel</h2>
			</div>
			<LoginComponent client:only />
			<div class="flex justify-center text-center mt-5">
				<a class="text-gray text-[10px] mr-5 hover:text-white transition" href="/misc/Privacy-Policy.md"
					>Política de Privacidad</a
				>
				<a class="text-gray text-[10px] hover:text-white transition" href="/misc/Terms-Conditions.md"
					>Términos y Condiciones</a
				>
			</div>
		</div>
	</body>
</html>
