---
import EquipoTable from '@components/ciddt-admin/EquipoTable';
import PagesTables from '@components/ciddt-admin/PagesTables';
import { auth } from '@firebase/server';
import type { UserRecord } from 'firebase-admin/auth';
import AdminPanelLayout from 'frontend/src/layouts/AdminPanelLayout.astro';

/* Check current session */
if (!Astro.cookies.has('session')) {
	return Astro.redirect('/ciddt-admin/login');
}

let userRecord: UserRecord | null = null;

const sessionCookie = Astro.cookies.get('session')?.value;

if (sessionCookie != null) {
	const decodedCookie = await auth.verifySessionCookie(sessionCookie);
	try {
		userRecord = await auth.getUser(decodedCookie.uid);
	} catch (error: any) {
		if (error.code === 'UND_ERR_CONNECT_TIMEOUT') {
			return;
		}
		console.log(error);
		return Astro.redirect('/ciddt-admin/dashboard');
	}
}
---

<AdminPanelLayout title="Settings">
	<section>
		<div class="gap-4 flex flex-col">
			<h1 class="font-black text-4xl w-full">Settings</h1>
			<p class="mt-2 w-full min-h-[50px]">Maneja tus configuraciones de usuario y de la aplicación.</p>
			<section class="bg-edgewater-800 p-4 rounded-md">
				<h2 class="font-black text-2xl w-full mt-4">Páginas de Meta</h2>
				<p class="mt-2 w-full min-h-[50px]">Actualiza las páginas asociadas a tu cuenta</p>
				{userRecord != null && <PagesTables userRecord={userRecord} client:only />}
			</section>
			<section class="bg-edgewater-800 p-4 rounded-md">
				<h2 class="font-black text-2xl w-full mt-4">Equipos</h2>
				<p class="mt-2 w-full min-h-[50px]">
					Configura tu equipo de trabajo para que puedan acceder al manejo de tu contenido.
				</p>
				{userRecord != null && <EquipoTable userRecord={userRecord} client:only />}
			</section>
		</div>
	</section>
</AdminPanelLayout>
