---
import AdminPanelLayout from 'frontend/src/layouts/AdminPanelLayout.astro';
---

<AdminPanelLayout title="Settings">
	<section>
		<div>
			<h1 class="font-black text-4xl w-full">Settings</h1>
			<p class="mt-2 w-full min-h-[50px]">Maneja tus configuraciones de usuario y de la aplicación.</p>
		</div>
	</section>
</AdminPanelLayout>
