---
import '../styles/pages/Equipo.scss';

// Import your profiles data
import profilesData from '../../public/data/profiles.json';
import NavigationButtons from '../components/buttons/AnchorButtons';
import Carrousel from '../components/Carrousel';
---

<>
	<div class="equipo__container">
		<div class="divisor1">
			<div class="text__container">
				<p>Con experiencia y empatía, defendemos cada empleo.</p>
			</div>
			<NavigationButtons Data={profilesData} client:only />
		</div>
		<div class="divisor2">
			<Carrousel profilesData={profilesData} client:only />
		</div>
	</div>
</>
